*{
    margin: 0;
}



body 
{
    font-family: "Roboto", sans-serif;
    background: #151515;


}

.navbar
{
    font-family:"Open Sans", sans-serif;
    width: 100%;
    height: 50px;
    background-color: black;
}

.navbar-container{
        display: flex;
        align-items: center;
        padding: 0 50px;
        height: 100%;
        color: white;
        font-family: sans-serif;
}

.logo-container
{
    flex:1;
}
.logo
{
    font-family: sans-serif;
    font-size: 30px;
    color:#4dbf00;

}
.menu-container
{
    flex:6;
}

.menu-list
{
    display: flex;
    list-style: none;
    
}
.menu-list-item
{
    margin-right: 30px;
}
.menu-list-item.active
{
    font-weight: bold;
}
.profile-container
{
    flex:2;
    display: flex;
    align-items: center;
    justify-content: flex-end;

}


.profile-text-container
{
    margin: 0 20px;
    display: flex;
}

.toggle
{
    width: 40px;
    height: 20px;
    background-color: white;
border-radius: 30px;
display: flex;
justify-content: space-around;
align-items: center;
position: relative;
}

.toggle-ball
{
    width: 18px;
    height: 18px;
    background-color: black;
    position: absolute;

    right: 1px;
    border-radius: 50%;
    cursor: pointer;
}

.toggle-icon
{
    color: goldenrod;
    
}
.profile-picture
{
    height: 32px;
    width: 32px;
    border-radius: 50%;
    object-fit: cover;
}

.sidebar
{
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 50px;
    background-color: black;
        display: flex;
        flex-direction: column;
        padding-top: 70px;
        align-items: center;

}

.left-menu-icon
{
    color: white;
    font-size: 20px;
    margin-bottom: 50px;
    


}

.container
{
    background-color: #151515;
    height: calc(100vh - 50px);
    color: white;

}

.content-container
{
    margin-left: 30px;
}

.featured-content
{

    height: 35vh;

}

.item-container {
  
    width: 400px;
    min-width: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    flex: 0 0 auto;


    
}

.img {
    width: 100%;
    aspect-ratio: 2 / 1.5;
    overflow: hidden;
    border-radius: 10%;
    position: relative;
}

.img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    
}
.title-movie
{
    padding: 1px 10px;
    font-size: 32px;
    font-weight: bold;

    
}

.movie-link {
    text-decoration: none;
    color: white;
        display: flex;
        flex-direction: column;
    align-items: center;
}
.item-container:hover  .img img{
    transform: scale(1.2);
    transition: all 0.6s ease-in-out;
    margin: 0 3px;
   
}
.img
{
    overflow: hidden;
}

.featured-title
{
    width: 200px;
    

}
.featured-desc
{
    width: 500px;
    color: lightgray;
    margin: 30px 0;
}
.featured-button
{
    text-decoration: none;
    color: white;
}
.featured-content
{
    padding: 50px;
}

.movie-list-container
{
    padding: 20px 15px;
    

}

.movie-list
{
    display: flex;
    align-items: center;
    gap: 170px;
    transform: translateX(0);
    transition: all 1s ease-in-out;
}

.movie-list-wrappper
{
    position: relative;
    overflow: hidden;


   
}

.card-cover
{
    margin:0;
}


.arrow
{
    font-size: 120px;
    position: absolute;
    top:32%;
    right: 0;
    color: lightgray;
    opacity: 0.5;
    cursor: pointer;

}


.container.active
{
    background-color: white;
}

.movie-list-title.active
{
    color: black;
}

.item-container h3.active
{
    color: black;
}

.navbar-container.active
{
    background-color: white;
    color: black;
}

.sidebar.active
{
    background-color: white;
    color: black;
}

.left-menu-icon.active
{
    color: black;

}
.toggle.active
{
    background-color: black;
}

.toggle-ball.active
{
    background-color: white;
    transform: translateX(-20px);
}

.movie-list-title
{

    margin-left: 20px;
}

body.active
{
    background-color: white;
}